header{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

header img {
  height: 250px;
}

.Algorithms-area {
  display: flex;
  height: 45vh;
}

.Algorithm-title {
  padding: 0px;
  padding-left: 50px;
  margin: 0px;
}

.Algorithm {
  width: 50vw;
}

.Algorithm #brace-editor {
  height: 100% !important;
  width: 100% !important;
}

.Button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 5px 20px ;
  width: 100px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  border: 2px solid #333;
  transition: all .1s ease-in-out;
}

.Button:hover {
  cursor: pointer;
  color: #fdfdfd;
  background-color: #333;
  border: 2px solid transparent;
}
